@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Serif&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,400;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Serif&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Import End */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #01030ad8;
  /* --primary-color: #222; */
  --secondary-color: #fef6e4;
  --highlight: #8bd3dd;
  --accent: #e53170;
}

.dark {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.light {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.iconDark {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  padding: 0.4rem;
}
.iconLight {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  padding: 0.4rem;
}
.resumeDark {
  color: var(--primary-color);
  background-color: var(--highlight);
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  padding: 0.4rem;
}
.resumeLight {
  background-color: var(--highlight);
  color: var(--secondary-color);
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  padding: 0.4rem;
}
/* .aboutDark {
  background-color: yellow;
  color: var(--secondary-color);
}
.aboutLight {
  color: var(--primary-color);
  background-color: var(--secondary-color);
} */
.navlink-active .iconDark,
.navlink-active .iconLight {
  background-color: var(--highlight);
}
.navlink-active .navText {
  color: var(--highlight);
}

.navLinks > span {
  display: none;
}
.navLinks:hover > span {
  display: block;
}
.resumestyl > span {
  display: none;
  transition: all 1s ease-in;
}
.resumestyl:hover > span {
  display: block;
  color: var(--highlight);
}

/* SVG */

/* 
 */
.scrollWindow {
  flex-direction: column;
  position: fixed;
  right: 2vh;
  top: 10vh;
  cursor: pointer;
}

.scrollWindow ul {
  flex-direction: column;
  align-items: flex-end;
}

.fade-out {
  animation: fadeout linear;
  animation-timeline: view();
  animation-range: exit -100px;
}
@keyframes fadeout {
  to {
    scale: 1.1;
  }
}
.loading {
  scale: 0 1;
  animation: loading 0.3s linear;
  animation-timeline: scroll();
}
@keyframes loading {
  to {
    scale: 1;
  }
}
/* .scrollSkill {
  animation: skillscroll 0.4s linear;
  animation-timeline: scroll();
  animation-range-start: 200px;
  animation-range-end: 400px;
}
@keyframes skillscroll {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5rem);
  }
  75% {
    transform: translateX(10rem);
  }
  100% {
    transform: translateX(0);
  }
} */

.error-message {
  position: fixed;
  bottom: 1rem;
  opacity: 0;
  background-color: var(--primary-color);
  color: var(--highlight);
  padding: 0.8rem;
  /* font-weight: bold; */
  font-family: Kanit;
  transition: right 1s ease-in-out, opacity 0.5s ease-in-out;
  /* border-top-left-radius: 4rem; */
}

.error-message.show {
  right: 0;
  opacity: 1;
  animation: slideIn 1s ease-in-out, slideOut 1s ease-in-out 2s forwards;
}
@keyframes slideIn {
  from {
    right: -22rem;
  }
  to {
    right: 0;
  }
}

@keyframes slideOut {
  from {
    right: 0;
  }
  to {
    right: -30rem;
  }
}
.loading-bar {
  height: 4px;
  width: 100%;
  background-color: var(
    --highlight
  ); /* Set your desired background color for the loading bar */
  position: absolute;
  bottom: 0;
  left: 0;
  animation: loadingAnimation 2s linear;
}
@keyframes loadingAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* .inView {
  animation-timeline: view();
  animation: inview linear;
}
@keyframes inview {
  from {
    scale: 0.7;
    transform: translateX(0);
  }
  to {
    scale: 1.1;
    opacity: 1;
    transform: translateX(100px);
  }
} */
/* .image-fade {
  animation: fade-in linear; */
/* animation-range: exit -400px; */
/* animation-timeline: view();
}
@keyframes fade-in {
  from {
    scale: 0.9;
    transform: translateY(0);
  }
  to {
    scale: 1;
    opacity: 0.4; */
/* transform: translateY(-10px); */
/* filter: grayscale(100%);
  }
} */

/* .text-fade {
  animation: text-in linear; */
/* animation-range: exit -100px; */
/* animation-timeline: view();
} */
/* @keyframes text-in {
  from {
    scale: 0.9;
    transform: translateY(0);
  }
  to {
    scale: 1;
    opacity: 0.9; */
/* transform: translateY(50px); */
/* filter: grayscale();
  }
} */

.barIcon {
  display: none;
}

@media (max-width: 767px) {
  .iconDark {
    color: #131316;
    background-color: #f1faee;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.3rem;
  }
  .iconLight {
    background-color: #131316;
    color: #f1faee;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.3rem;
  }
  .mobileNavBar {
    display: flex;
    animation: movedown 0.2s linear;
    /* flex-direction: column; */
    /* background-color: lightslategray; */
  }
  @keyframes movedown {
    from {
      transform: translateX(5rem);
    }
    to {
      transform: translateX(0);
    }
  }
  .scrollWindow {
    display: flex;
    /* padding-right: 2.2rem; */
  }
  .mobileNavBar .navlink {
    padding-right: 2.15rem;
    display: flex;
  }
  .navlink {
    display: none;
  }
  .barIcon {
    display: block;
  }

  .navLinks {
    font-size: 0.7rem;
  }

  .navLinks > span {
    display: block;
  }
  .scrollWindow {
    position: fixed;
    right: -7vh;
    top: 7vh;
    cursor: pointer;
    z-index: 99;
    flex-direction: column;
  }
  .scrollWindow ul {
    flex-direction: column;
    /* background-color: mediumspringgreen; */
    /* border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; */
    /* padding: 0.7rem; */
    z-index: 99;
  }

  .fade-out {
    animation: fadeout linear;
    animation-timeline: view();
    animation-range: exit -200px;
  }
  @keyframes fadeout {
    to {
      scale: 1;
    }
  }

  .error-message {
    padding: 0.5rem;
    font-size: medium;
  }
}
@media (max-width: 376px) {
  .scrollWindow {
    right: -8.5vh;
    top: 7vh;
  }
}
@media (max-width: 290px) {
  .scrollWindow {
    right: -10vh;
    top: 7vh;
    font-size: small;
  }
}
